.pb{
    background-color: aqua;
}
.ab{
    background-color: black;
}
.fb{
    background-color: blue;
}
.ib{
    background-color: blueviolet;
}
.gb{
    background-color: rgb(40, 40, 43);
}
.cb{
    background-color: brown;
}
.kb{
    background-color: beige;
}